name: PR Verify 

on:
  pull_request:
    branches: [ "main" ]  

jobs:
  build:
    name:  PR Verify - Build and Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x     

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: dotnet test
        run: dotnet test --configuration Release --no-build

      - name: dotnet format check
        run: dotnet format -v detailed --verify-no-changes